<script id="tmpl-EaseljsClusterChart" type="text/html">
	<div class="EaseljsClusterChart">
		<canvas id="EaseljsClusterCanvas" width="800" height="800"></canvas>
		<span class="event-label"></span>
	</div>
</script>
<script id="tmpl-EaseljsClusterChart-event-label" type="text/html">
	You click node[ name:{{name}},weight:{{weight}}]
</script>


