<script id="tmpl-MainScreen" type="text/html">
    <div class="MainScreen">
	    <div class="MainScreen-header">
			<div class="navbar  navbar-inverse navbar-fixed-top">
			  <div class="navbar-inner">
			    <a class="brand" href="#">EaseJS Demo</a>
			    <ul class="nav">
			      <li data-nav="Welcome" class="menu active">Welcome</li>
			      <li data-nav="EaseljsClusterChart" class="menu">EaseljsClusterChart</li>
			      <li data-nav="EaseljsPieChart" class="menu">EaseljsPieChart</li>
			    </ul>
			  </div>
			</div>
	    </div>
	    <div class="MainScreen-main"></div>
    </div>
</script>